.navbar {
  width: 100%;
  padding: 20px 0;
  z-index: 10005;
  transition: background-color 0.3s ease-in-out;
  height: 90px;
}

.navbarscrolled {
  height: 90px;
  background-color: #887c7c;
  color: white;
}


.logo {
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  top:0px;
  
}

.mla{
  color:black
}

.nav-link {
  color: inherit;
  font-weight: bold;
}

.search-input {
  margin-right: 10px;
  padding: 5px;
}

.appointment-btn {
  padding: 8px 20px;
  background-color: #272b27;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.appointment-btn:hover {
  background-color: #0056b3;
}
